@model SignalR_GoogleMap_Web.Models.OrderViewModel
@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("SaveOrder", "Home", FormMethod.Post))
    {
        @Html.ValidationSummary(true)
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">Place Order</th>
            </tr>
            <tr>
                <td>Order Title: </td>
                <td>
                    @Html.TextBoxFor(m => m.OrderTitle)
                    <p>
                        @Html.ValidationMessageFor(m => m.OrderTitle)
                    </p>
                </td>
            </tr>
            <tr>
                <td>Longitude: </td>
                <td>
                    @Html.TextBoxFor(m => m.Longitude)
                    <p>
                        @Html.ValidationMessageFor(m => m.Longitude)
                    </p>
                </td>
            </tr>
            <tr>
                <td>Latitude: </td>
                <td>
                    @Html.TextBoxFor(m => m.Latitude)
                     <p>
                        @Html.ValidationMessageFor(m => m.Latitude)
                    </p>
                </td>
            </tr>
            <tr>
                <td>Status: </td>
                <td>
                    @Html.DropDownListFor(m => m.Status, new List<SelectListItem>
                   { new SelectListItem{Text="Pending", Value="Pending"},
                     new SelectListItem{Text="Cancle", Value="Cancle"},
                     new SelectListItem{Text="Completed", Value="Completed"}}, "Please select")
                     <p>
                        @Html.ValidationMessageFor(m => m.Status)
                    </p>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit" validate/></td>
            </tr>
        </table>
    }

<h2>Created Order</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">OrderId</th>
      <th scope="col">Title</th>
      <th scope="col">Longitude</th>
      <th scope="col">Latitude</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
      @foreach (var order in ViewBag.orders)
        {
            <tr>
                <th scope="row">@order.Id</th>
                <td>@order.OrderTitle</td>
                <td>@order.Longitude</td>
                <td>@order.Latitude</td>
                <td>@order.Status</td>
                <td></td>
            </tr>
        }
  </tbody>
</table>